{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcom To Books Ecommerce...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<br/><br/>
        			<div class="col-8">

<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet blandit dui eu consectetur. Phasellus dictum massa lectus, sed porttitor turpis luctus ac. Donec tristique, mi nec faucibus volutpat, purus lectus varius elit, vitae ornare ipsum erat eget ex. Proin tincidunt in neque eget eleifend. Praesent euismod finibus libero at dapibus. Sed ut malesuada velit, ut hendrerit quam. Cras dictum vitae risus at maximus. Phasellus tellus enim, porttitor sit amet ante eu, mattis dignissim tellus. Quisque ut augue non diam rhoncus volutpat id at velit. Nullam urna augue, laoreet quis leo vitae, placerat porttitor tortor. Duis bibendum cursus sagittis. Curabitur quis accumsan massa. Aenean ullamcorper, quam quis suscipit bibendum, sapien ex lacinia dolor, vel pellentesque odio dui at felis.
<br/><br/>
Nunc imperdiet nunc non sollicitudin mattis. Praesent vehicula egestas consectetur. Nullam magna elit, aliquam quis turpis vitae, mollis tempor lorem. Pellentesque efficitur laoreet erat, sit amet cursus lacus. Aenean pulvinar blandit viverra. Vivamus tempus, dolor non varius luctus, lectus sapien interdum risus, eget sodales mauris sapien eu magna. Nam nec felis sed felis egestas varius eget non elit. Nulla facilisi. Suspendisse volutpat leo magna, in blandit orci mollis id.
<br/><br/>
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur at purus ut lorem venenatis feugiat sit amet vel nisl. Quisque ut mollis lacus. Phasellus fermentum consequat sagittis. Pellentesque volutpat augue in dolor commodo mattis. Maecenas enim velit, ullamcorper mattis sollicitudin sed, rhoncus et velit. Nam ac dui in turpis scelerisque iaculis non nec quam. Aliquam erat volutpat.
<br/><br/>
Etiam lobortis imperdiet malesuada. Duis condimentum lacus at rhoncus mattis. Etiam suscipit, tortor ut euismod egestas, quam risus elementum mauris, vel elementum lacus augue et tortor. Ut eget porttitor nisl. Phasellus a diam tempus, imperdiet orci a, viverra arcu. Sed gravida rhoncus tempus. Fusce bibendum consectetur aliquam. Ut ultricies purus non facilisis vehicula.
<br/><br/>
Pellentesque et mollis odio. Suspendisse potenti. Etiam facilisis dictum ante, nec pellentesque dolor ultrices id. Nulla at est nec lacus mollis auctor. Donec sagittis lacus eget justo luctus euismod. Mauris eu leo luctus, interdum felis eu, tincidunt orci. Nulla eu venenatis sapien. Vivamus sapien nulla, facilisis at ultrices ut, posuere et lacus. Morbi lacinia, nisi sit amet iaculis faucibus, felis velit finibus nunc, ac mollis tellus turpis et ante. Vestibulum lacinia dolor id sapien dapibus, eget congue sem commodo. Morbi nec ipsum neque. Vestibulum quis consequat dolor, sed tristique velit. Sed vel velit rutrum, condimentum nulla at, porttitor sapien. Duis facilisis facilisis tortor non venenatis.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}